.ag-popup-editor
.my-editor {
  width: 50px;
  height: 35px;
  border: 10px solid grey;
}

.ag-cell-inline-editing
.my-editor {
  width: 80vw;
  height: 80vh;
  box-sizing: border-box;
}
.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 80vh;
}
#myGrid {
  flex: 1 1 0px;
  width: 100%;
}
.ex-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  margin-bottom: 5px;
  float: right;
}
.ag-root-wrapper-body{
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}